.article-modal-create-proyecto {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-create-nombre__proyecto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.modal-create__span {
    color: var(--custom-color-span);
    width: max-content;
}