.draggable {
    margin-bottom: 2%;
    margin-right: 2%; 
    height: 222.53px;
}

.article-card__task {
    display: flex;
    flex-direction: row;
    background-color: var(--custom-color-white-smoke);
    border: 0;
    min-width: 305px;
    padding-right: 4%;
}

.article-card__task-bar {
    width: 2%;
    height: 205px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
}

.blur-out {
    animation:blur-out 0.4s linear both;
} 

@keyframes blur-out {
    0% {
        filter:blur(.01px);
    } 100% {
        filter:blur(12px);
        opacity:0
    }
}

.article-card__task-content {
    margin-left: 5%;
    min-width: 250px;
    width: 100%;
    padding-top: 2%;
}

.article-card__task__panel-titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.article-card__task__panel__content {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.article-card__task__panel__svg {
    width: 20px;
}

.article-card__task__titulo {
    text-align: start;
    font-weight: bold;
    width: 90%;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-card__task__panel__content__button__option {
    width: auto;
    display: flex;
    align-items: stretch;
    height: fit-content;
    cursor: pointer;
}

.article-card__task__content-responsable {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.article-card__task__content-titulo {
    height: fit-content;
    font-size: 15px;
}

.article-card__task-content-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.article-card__task__content_estado-titulo {
    font-size: 15px;
}

.article-card__task__content__detail-span {
    height: fit-content;
    font-size: 15px;
}

.span__descripcion {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width: 200px;
}

.droppable-content {
    width: 80%;
    height: 240px;
}

@media screen and (max-width: 1400px) {
    .article-card__task__panel__content {
        max-width: 225px;
    }

    .article-card__task-content-detail:last-child .article-card__task__content__detail-span:last-child {
        width: 210px;
        margin-left: 5%;
    }
}