.purple-background {
    background-color: var(--custom-color-purple);
}

.purple-color {
    color: var(--custom-color-purple);
}

.purple-option:hover {
    background-color: var(--custom-color-purple-hover);
    border-radius: 99px;
}