.blue-background {
    background-color: var(--custom-color-blue);
}

.blue-color {
    color: var(--custom-color-blue);
}

.blue-option:hover {
    background-color: var(--custom-color-blue-hover);
    border-radius: 99px;
}