.article-verify {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--custom-color-white-default);
}

.article-verify-content-span {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5%;
    align-items: center;
}

.auth-image {
    width: 280px;
}

.article-verify-content-h4 {
    color: var(--custom-color-black-default);
}