:root {
    --custom-color-white-smoke: #f5f5f5;
    --custom-color-blue: #2952cf;
}

.article-card-progress {
    border: 0;
    margin: 2.5%;
    height: 20%;
}

.article-card-progress__task {
    display: flex;
    flex-direction: row;
    background-color: var(--custom-color-white-smoke);
    border: 0;
}

.article-card-progress__task-bar {
    width: 2%;
    background-color: var(--custom-color-blue);
    height: 175px;
    margin: 1%;
}

.article-card-progress__task-content {
    margin-left: 5%;
    width: 100%;
}

.article-card-progress__task__panel-titulo {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.article-card-progress__task__panel__svg {
    width: 20px;
    color: var(--custom-color-blue);
}

.article-card-progress__task__titulo {
    color: var(--custom-color-blue);
    text-align: start;
    font-weight: bold;
}

.article-card-progress__task__content-responsable {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.article-card-progress__task__content-titulo {
    color: var(--custom-color-blue);
    height: fit-content;
    font-size: 15px;
}

.article-card-progress__task-content-estado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.article-card-progress__task__content_estado-titulo {
    color: var(--custom-color-blue);
    font-size: 15px;
}

.article-card-progress__task-content-esfuerzo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
}

.article-card-progress__task__content__esfuerzo-span {
    color: var(--custom-color-blue);
    height: fit-content;
    font-size: 15px;
}

.article-card-progress__task__content__esfuerzo-span:last-child {
    margin-right: 10%;
}

.droppable-content {
    width: 80%;
    height: 200px;
}