.header-main__section__bar-tool {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    align-items: center;
    background-color: var(--custom-color-menu-header);
    border-radius: 25px;
    margin-top: 2%;
    box-shadow: 0px 3px 10px -2px var(--custom-color-shadow);
}

.header-main__section__bar-tool__elements {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.none-titulo {
    display: none;
}

.bar-tool__elements__button {
    border-radius: 99px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 0;
}

.bar-tool__elements__button-svg {
    width: 30px;
    color: var( --custom-color-white-default);
}

.header-main__section__bar-tool__titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.header-main__section__user {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: flex-end;
    gap: 10px;
}

.header-main__button__logout {
    display: block;
    border: 0;
    background-color: transparent;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
    line-height: 35px;
}

.header-main-button__svg__logout {
    color: var(--custom-color-white-default);
    width: 30px;
}

@media screen and (max-width: 1300px) {
    .header-main__section__bar-tool {
        width: 90%;
        min-width: 500px;
    }
}