.aside-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    width: 18%;
    height: 100dvh;
    height: 100vh;
    background-color: var(--custom-color-menu-header);
    box-shadow: 0px 3px 10px -2px var(--custom-color-shadow);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: slide-left-menu .4s linear both;
    z-index: 999;
}

.menu-section__lateral {
    display: flex;
    flex-direction: column;
}

.header-titulo-empresa__open-button {
    display: none;
    border: 0;
    background-color: transparent;
    text-align: center;
}

.header-titulo-empresa__close-button {
    display: block;
    border: 0;
    background-color: transparent;
    text-align: center;
}

.SVG-format,
.article-titulo-empresa__SVG {
    width: 35px;
    color: var(--custom-color-white);
}

.button-SVG-Hidden {
    position: relative;
    top: 86px;
    left: -12px;
}

.menu-add-proyecto {
    background-color: transparent;
    width: fit-content;
    border: 0;
}

.menu-section__lateral__header-titulo-proyecto {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    padding: 5%;
    align-items: center;
    height: fit-content;
    margin-top: 5%;
}

.header-titulo-proyecto__open-button {
    display: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    width: fit-content;
    margin-bottom: 0;
}

.header-titulo-proyecto__close-button {
    display: block;
    border: 0;
    background-color: transparent;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-bottom: 0;
}

.menu-section__lateral__article__content_block {
    margin-top: 10%;
}

.menu-section__lateral__article__content_none {
    display: none;
}

.menu-section__lateral__ul_option {
    position: relative;
    right: 25px;
    list-style: none;
    margin-top: -5%;
}

.menu-section__lateral__article__lu {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: -10%;
    gap: 10px;
    align-items: baseline;
    padding-inline-start: 10%;
}

.menu-section__lateral_article__li__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: transparent;
    border: 0;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    position: relative;
    left: 5%;
    padding-left: 2%;
}

.menu-section__lateral_article__li__button:hover {
    width: 80%;
    border-radius: 10px;
    background-color: var(--custom-color-li-hover);
}

.menu-section__lateral_article__li__button__option {
    width: auto;
    display: flex;
    align-items: stretch;
    height: fit-content;
    cursor: pointer;
    position: relative;
    right: 5%;
    background-color: transparent;
    border: 0;
}

.menu-section__lateral__article__lu__li {
    width: calc(80% + 15%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
}

.menu-section__lateral_article__li__button__option__svg {
    width: 20px; 
    color:var(--custom-color-white);
}

.menu-section__lateral_article__li__button__option__svg:hover {
    border-radius: 999px;
    background-color: var(--custom-color-li-hover);
}