:root {
    --custom-color-new: #e7e4f9;
    --custom-color-progress: #d6e0ff;
    --custom-color-complete: #dcf2ea;
    --custom-color-white: whitesmoke;
    --custom-color-h1-purple: #6e64b6;
    --custom-color-h1-blue: #2952cf;
    --custom-color-h1-green: #317159;
    --custom-color-aside: #0f95cd;
    --custom-color-shadow: rgba(0, 0, 0, 0.86)
}

body {
    background-color: var(--custom-color-white);
}

h1,
h2,
h3,
h4,
h5,
span {
    color: var(--custom-color-white-smoke);
    font-weight: bold;
}

p {
    font-family: monospace;
    font-size: 14px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--custom-color-white-smoke);
    width: 80%;
    min-width: max-content;
    margin-bottom: 2px;
    border: 1px solid var(--custom-color-white-smoke);
}

.app-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.app-main__section {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    animation: slide-left-panel-task .4s linear both;
}

.app-main__section-dynamic {
    animation: slide-right-panel-task .4s linear both;
}

.aside-menu-dynamic {
    min-width: 0;
    z-index: 999;
}

.app-main__section__tasks-panel {
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 1150px;
}

.app-main__section__tasks-panel__section {
    flex-basis: 34%;
    height: 100%;
}

.app-main__section__tasks__panel__section__content__titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.app-main__section__tasks__panel__section__titulo-New {
    width: fit-content;
    color: var(--custom-color-h1-purple);
    font-weight: bold;
    height: 100%;
}

.app-main__section__tasks__panel__section__titulo-Progreso {
    color: var(--custom-color-h1-blue);
    font-weight: bold;
}

.app-main__section__tasks__panel__section__titulo-Completo {
    color: var(--custom-color-h1-green);
    font-weight: bold;
}

.app-main__section__tasks-panel__section:nth-child(1) {
    background-color: var(--custom-color-new);
    height: 100dvh;
    height: 100vh;
}

.app-main__section__tasks-panel__section:nth-child(2) {
    background-color: var(--custom-color-progress);
    height: 100dvh;
    height: 100vh;
}

.app-main__section__tasks-panel__section:nth-child(3) {
    background-color: var(--custom-color-complete);
    height: 100dvh;
    height: 100vh;
}

/* Keyframes - Panel Task */

@keyframes slide-left-panel-task {
    0% {
        transform:translateX(100px);
        padding-left: 0;
        overflow:  hidden;
    }
    100% {
        transform:translateX(0);
        padding-left: 18%;
        overflow:  hidden;
    }
}

@keyframes slide-right-panel-task {
    0% {
        transform:translateX(0px);
        min-width: 0;
    }
    100% { 
        transform:translateX(0);
        padding-left: 5%;
    }
}